In [18]:
#Importación de librearías necesarias
import pandas as pd
from datetime import datetime
import socket
import numpy as np
import math
import time
import pickle  #Para guardar archivos
import os
os.environ['OMP_NUM_THREADS'] = '1'

from pympler import asizeof #Para liberar memoria
import gc

import matplotlib.pyplot as plt

from kneed import KneeLocator 
from sklearn.cluster import DBSCAN

In [2]:
#Path general de archivos
if socket.gethostname()=='LAPTOP-PUSGG08B': #Ip de la laptop
    ruta = "E:/Cristian Guatemal/Master/Big Data y Ciencia de Datos/VIU_TFM/Data/TFM/"
    r_ruta = "E:/Cristian Guatemal/Master/Big Data y Ciencia de Datos/VIU_TFM/RData/TFM/"
elif socket.gethostname()=='PCUIOMTDAIE6382': #Ip del working
    ruta =   "D:/Master/Big_Data_Ciencia_Datos/VIU_TFM/Data/TFM/"
    r_ruta = "D:/Master/Big_Data_Ciencia_Datos/VIU_TFM/RData/TFM/"
# Ruta del archivo de pensionistas de vejez
ruta_vj = ruta + 'POB_VEJ_CD656_NEW.dsv'
# Ruta del archivo de historia laboral de pensionistas
ruta_afi = ruta + 'APORTES_CD656_new.dsv'

In [14]:
# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_clean_afi_sel_g_all_2.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)

with open( ruta_archivo, 'rb') as archivo:
    data_l = pickle.load( archivo )

In [15]:
inicio = time.time()
data_l = data_l.sort_values( by=["CEDULA_COD","ANIO", "MES"], ascending=[ True, True, True] )
data_l.reset_index(inplace=True)
data_l.rename(columns={'index': 'nuevo_indice'}, inplace=True)
data_l.drop(columns=['nuevo_indice'], inplace=True)
data_l['INDICE'] = data_l.index

#Casos de no análisis
data_no_grupo = data_l[ (data_l['GRUPO_SEL']==0) ].copy()
data_no_grupo['ATI_DB'] = np.nan

#Casos de análisis
data = data_l[ (data_l['GRUPO_SEL']==1) ].copy()

fin = time.time()  
print('Tiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

Tiempo de ejecución es:  0.0  horas con  1.0  minutos y 12.414653301239014  segundos

In [19]:
#Se calculo los bigotes superiores para toda la historia laboral
inicio = time.time() 
dataa = data_l.copy()
dic_aux = dataa.groupby('CEDULA_COD').agg({'SALARIO_SECTOR': list, 'INDICE': list}).to_dict(orient='index')

for cedula in dic_aux:
    dic_aux[cedula]['SALARIO_SECTOR'] = [ [float(val) for val in sal.replace(':', ';').split(';')] 
                                            if isinstance(sal, str) 
                                            else [float(sal)]
                                            for sal in dic_aux[cedula]['SALARIO_SECTOR']
                                        ]
    # Aplanar la lista de listas de SALARIO_SECTOR
    salarios = None
    salarios = [salario for sublist in dic_aux[cedula]['SALARIO_SECTOR'] for salario in sublist]
    dic_aux[cedula]['SAL_PROM1'] =  np.nanmean(salarios)
    dic_aux[cedula]['Q1'] =  np.percentile(salarios, 25)
    dic_aux[cedula]['Q3'] =  np.percentile(salarios, 75)
    dic_aux[cedula]['IQR'] = dic_aux[cedula]['Q3'] -  dic_aux[cedula]['Q1']
    dic_aux[cedula]['LI'] =  dic_aux[cedula]['Q1'] -  1.5  * dic_aux[cedula]['IQR']
    dic_aux[cedula]['LS'] =  dic_aux[cedula]['Q3'] +  1.5  * dic_aux[cedula]['IQR']

data1 = { 'CEDULA_COD': [], 'LS': [], 'SAL_PROM1': [] }

for cedula, val in dic_aux.items():
    data1['CEDULA_COD'].append(cedula)
    data1['LS'].append( val['LS'] )
    data1['SAL_PROM1'].append( val['SAL_PROM1'] )

LS = pd.DataFrame( data1 )
LS = LS.groupby('CEDULA_COD')['LS'].first()
data_l.loc[:, 'LS1'] = data_l['CEDULA_COD'].map(LS)

SPROM = pd.DataFrame( data1 )
SPROM = SPROM.groupby('CEDULA_COD')['SAL_PROM1'].first()
data_l.loc[:, 'SAL_PROM1'] = data_l['CEDULA_COD'].map(SPROM)

del dataa, data1, dic_aux, LS, salarios, SPROM
gc.collect()

##Se calculo los bigotes superiores para toda la historia laboral, a partir del año 2000 en adelante.
dataa = data_l[data_l['ANIO']>=2000].copy()
dic_aux = dataa.groupby('CEDULA_COD').agg({'SALARIO_SECTOR': list, 'INDICE': list}).to_dict(orient='index')

for cedula in dic_aux:
    dic_aux[cedula]['SALARIO_SECTOR'] = [ [float(val) for val in sal.replace(':', ';').split(';')] 
                                            if isinstance(sal, str) 
                                            else [float(sal)]
                                            for sal in dic_aux[cedula]['SALARIO_SECTOR']
                                        ]
    # Aplanar la lista de listas de SALARIO_SECTOR
    salarios = None
    salarios = [salario for sublist in dic_aux[cedula]['SALARIO_SECTOR'] for salario in sublist]
    dic_aux[cedula]['SAL_PROM2'] =  np.nanmean(salarios)
    dic_aux[cedula]['Q1'] =  np.percentile(salarios, 25)
    dic_aux[cedula]['Q3'] =  np.percentile(salarios, 75)
    dic_aux[cedula]['IQR'] = dic_aux[cedula]['Q3'] -  dic_aux[cedula]['Q1']
    dic_aux[cedula]['LI'] =  dic_aux[cedula]['Q1'] -  1.5  * dic_aux[cedula]['IQR']
    dic_aux[cedula]['LS'] =  dic_aux[cedula]['Q3'] +  1.5  * dic_aux[cedula]['IQR']

data1 = { 'CEDULA_COD': [], 'LS': [], 'SAL_PROM2': []  }

for cedula, val in dic_aux.items():
    data1['CEDULA_COD'].append(cedula)
    data1['LS'].append( val['LS'] )
    data1['SAL_PROM2'].append( val['SAL_PROM2'] )

LS = pd.DataFrame( data1 )
LS = LS.groupby('CEDULA_COD')['LS'].first()
data_l.loc[:, 'LS2'] = data_l['CEDULA_COD'].map(LS)

SPROM = pd.DataFrame( data1 )
SPROM = SPROM.groupby('CEDULA_COD')['SAL_PROM2'].first()
data_l.loc[:, 'SAL_PROM2'] = data_l['CEDULA_COD'].map(SPROM)

del dataa, data1, dic_aux, LS, salarios, SPROM
gc.collect()

fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos')

	Tiempo de ejecución es:  0.0  horas con  7.0  minutos y 29.76309084892273  segundos

In [ ]:
#Algortimos K-means
cedula_1 = data.groupby('CEDULA_COD')['NUM_SEC_MES'].apply( lambda x: (x != 1).any() )
cedula_dist = cedula_1[ cedula_1 ].index
ul = data[ ~data['CEDULA_COD'].isin( cedula_dist )]
ml = data[  data['CEDULA_COD'].isin( cedula_dist )]

In [ ]:
ul_dic = ul.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')
ml_dic = ml.groupby('CEDULA_COD').agg({'SALARIO': list, 'INDICE': list}).to_dict(orient='index')

In [ ]:
ul_dic[230]

In [ ]:
from sklearn.neighbors import NearestNeighbors
def valor_epsilon( data, val ):
    
    for ced in data:
        aux = None
        aux = np.array( data[ced][val] ).reshape(-1, 1)
        eps = []
        minpt = []
        data[ced]['eps'] = []
        data[ced]['min_pt'] = []

        for i in range(1, 12):
            vecinos = NearestNeighbors( n_neighbors = min( i, len(aux) ) + 1  )
            vecinos_ajustado = vecinos.fit( aux )
            distancias = vecinos_ajustado.kneighbors(aux )[0]
            distancias1 = distancias[:, 1:]
            distancias_ordenadas = np.sort(distancias1.ravel())

            if len( np.unique( distancias_ordenadas ) )==1:
                eps.append( 0.0 )
                minpt.append( i + 1 )

            if len( np.unique( distancias_ordenadas ) )!=1:
                codo = KneeLocator(np.arange(len(distancias_ordenadas)), distancias_ordenadas, curve="convex", direction="increasing")

                eps.append( distancias_ordenadas[codo.elbow])
                minpt.append( i + 1 )

        for i, eps in enumerate( eps ):
            if eps not in data[ced]['eps']:
                data[ced]['eps'].append( eps )
                data[ced]['min_pt'].append( minpt[i] )

In [ ]:
inicio = time.time()
valor_epsilon(ul_dic, 'SALARIO')
valor_epsilon(ml_dic, 'SALARIO')
fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

In [ ]:
nombre_archivo = 'viu_db_ul.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto1 = ul_dic

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto1, archivo) 
    
nombre_archivo = 'viu_db_ml.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto2 = ml_dic

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto2, archivo)

In [3]:
# Cargar archivo------------------------------------------------------------------------------------------------------------
directorio = r_ruta
nombre_archivo = 'viu_db_ul.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)

with open( ruta_archivo, 'rb') as archivo:
    ul_dic = pickle.load( archivo ) 
    
directorio = r_ruta
nombre_archivo = 'viu_db_ml.pkl'
ruta_archivo = os.path.join(directorio, nombre_archivo)

with open( ruta_archivo, 'rb') as archivo:
    ml_dic = pickle.load( archivo )

In [4]:
def rangos_valores(number):
    actions = {
        (0, 1): 2,
        (1, 2): 1,
        (2, 3): 2,
        (3, 4): 3,
        (4, 5): 4,
        (5, float('inf')): 5
    }
    
    for (start, end), (val1) in actions.items():
        if start < number <= end:
            return val1 
        
def esti_eps_out( data_dic, val ):
    
    for ced in data_dic:
        aux =  np.array( data_dic[ced][val] ).reshape(-1, 1)
        ep = data_dic[ced]['eps']
        mt = data_dic[ced]['min_pt']

        n_clusters = []
        n_outliers = []
        v_e = []
        g_e = []
        n_e = []

        for j in range(0, len(ep) ):

            if  ep[ j ] <= 0.1:
                n_clusters.append( -1 )
                n_outliers.append( -1 )
                v_e.append( ep[ j ] )
                g_e.append( j )
                n_e.append( mt[j] )
            
            else:
                var1 = rangos_valores(ep[ j ])
                ini =  max(0.1, ep[ j ] - var1 )
                for eps in np.linspace(ini, ep[ j ], 6):
                        labels=None
                        db = DBSCAN( eps, min_samples = mt[j] ).fit( aux )
                        core_samples_mask = np.zeros_like( db.labels_, dtype=bool)
                        core_samples_mask[db.core_sample_indices_] = True
                        labels = db.labels_
                        n_clusters.append( len(set(labels)) - (1 if -1 in labels else 0) )
                        n_outliers.append( list(labels).count(-1) )
                        v_e.append( eps ) 
                        g_e.append( j )
                        n_e.append( mt[j] )
 
        ag = np.empty((len(v_e) , 5))   
        ag[ :, 0 ] = g_e
        ag[ :, 1 ] = v_e
        ag[ :, 2 ] = n_e
        ag[ :, 3 ] = n_clusters
        ag[ :, 4 ] = n_outliers
        data_dic[ced]['esti_eps_out'] = ag

In [6]:
inicio = time.time()
print('*' * 102)
print('Determinación del número de clúster  y número atípicos')
val='SALARIO'
esti_eps_out( ul_dic, val )
esti_eps_out( ml_dic, val )
fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

******************************************************************************************************
Determinación del número de clúster  y número atípicos
	Tiempo de ejecución es:  0.0  horas con  59.0  minutos y 26.723734617233276  segundos

In [9]:
#Seleccionar el valor de epsilon y los atipicos
def cal_eps_out( data_dic ):
    for ced in data_dic:
        aux = data_dic[ced]['esti_eps_out']
        aux1 =  np.array( data_dic[ced]['SALARIO'] ).reshape(-1, 1)
        col1 = 4
        col2 = 3

        # Encontrar el valor máximo en la columna 4 (índice 3)
        val1 = np.max(aux[:,  col1])

        # Filtrar las filas que tienen el valor máximo en la columna 4
        fil= aux[aux[:, col1] == val1]

        # Encontrar la fila con el menor valor en la columna 3 (índice 2) entre las filas filtradas
        indice = np.argmin( fil[:, col2 ])

        # Seleccionar la fila correspondiente
        fila_max_min =  fil[ indice]
        data_dic[ced]['eps_c'] = fila_max_min[1]
        data_dic[ced]['mpt_c'] = fila_max_min[2]
        
        if fila_max_min[1] ==0:
            data_dic[ced]['ATI_DB'] = [-1] * ( len(aux1) )
        else:
            db = DBSCAN( eps = fila_max_min[1], min_samples = int(fila_max_min[2]) ).fit( aux1 )
            data_dic[ced]['ATI_DB'] = (db.labels_).tolist()

In [10]:
inicio = time.time()
print('*' * 102)
print('Determinación del número de clúster  y número atípicos')
val='SALARIO'
cal_eps_out( ul_dic )
cal_eps_out( ml_dic )
fin = time.time()  
print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )

******************************************************************************************************
Determinación del número de clúster  y número atípicos
	Tiempo de ejecución es:  0.0  horas con  2.0  minutos y 56.17711520195007  segundos

In [20]:
data_l

,CEDULA_COD,ANIO,MES,SALARIO,SALARIO_SECTOR,SECTOR_A,NUM_SEC_MES,%_NUM_SECTOR,GRUPO,SAL_PROM_GRUPO,...,INI_CAL,FIN_CAL,BASE_CAL,SBU,ID_SBU,INDICE,LS1,SAL_PROM1,LS2,SAL_PROM2
0,126,2004,12,147.45,147.45,PRI,1,1,7,147.450000,...,2010-12-01,2006-01-01,210.635,136.0,-1,0,382.4950,201.720411,382.4950,201.720411
1,126,2005,1,161.67,161.67,PRI,1,1,6,161.670000,...,2010-12-01,2006-01-01,210.635,150.0,-1,1,382.4950,201.720411,382.4950,201.720411
2,126,2005,2,161.67,161.67,PRI,1,1,6,161.670000,...,2010-12-01,2006-01-01,210.635,150.0,-1,2,382.4950,201.720411,382.4950,201.720411
3,126,2005,3,161.67,161.67,PRI,1,1,6,161.670000,...,2010-12-01,2006-01-01,210.635,150.0,-1,3,382.4950,201.720411,382.4950,201.720411
4,126,2005,4,161.67,161.67,PRI,1,1,6,161.670000,...,2010-12-01,2006-01-01,210.635,150.0,-1,4,382.4950,201.720411,382.4950,201.720411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62130162,23594465,2017,11,14045.72,14045.72,PRI,1,1,1,16205.699167,...,2018-03-01,2013-04-01,16604.299,375.0,-1,62130162,17232.8625,15759.244225,17232.8625,15759.244225
62130163,23594465,2017,12,14164.25,14164.25,PRI,1,1,1,16205.699167,...,2018-03-01,2013-04-01,16604.299,375.0,-1,62130163,17232.8625,15759.244225,17232.8625,15759.244225
62130164,23594465,2018,1,12903.21,12903.21,PRI,1,1,1,16205.699167,...,2018-03-01,2013-04-01,16604.299,386.0,-1,62130164,17232.8625,15759.244225,17232.8625,15759.244225
62130165,23594465,2018,2,42432.21,42432.21,PRI,1,1,1,16205.699167,...,2018-03-01,2013-04-01,16604.299,386.0,-1,62130165,17232.8625,15759.244225,17232.8625,15759.244225
62130166,23594465,2018,3,12738.28,12738.28,PRI,1,1,1,16205.699167,...,2018-03-01,2013-04-01,16604.299,386.0,-1,62130166,17232.8625,15759.244225,17232.8625,15759.244225

In [25]:
#Extensión a dataframe
def extend_data( data_val_ati ):
    inicio = time.time()
    print('Extensión a dataframe de los diccionarios')
    data1 = { 'CEDULA_COD': [], 'SALARIO': [], 'INDICE':[], 'ATI_DB':[] }

    # Llenar las listas con los datos del diccionario
    for cedula, values in data_val_ati.items():
        salario = values['SALARIO']
        indice = values['INDICE']
        atipico= values['ATI_DB']
        num_rows = len(salario)

        # Extender las listas en el diccionario de datos
        data1['CEDULA_COD'].extend([cedula] * num_rows)
        data1['SALARIO'].extend(salario)
        data1['ATI_DB' ].extend(atipico)
        data1['INDICE'].extend(indice)

    data1 = pd.DataFrame( data1 )
    fin = time.time()  
    print('\tTiempo de ejecución es: ',  (fin-inicio)//3600, ' horas con ' ,  (fin-inicio)%3600//60 , ' minutos y', (fin-inicio)%60, ' segundos' )
    return(data1)

In [35]:
def union_dic( data, data_no_grupo, data_dic1, data_dic2):
    inicio = time.time()
    print('*' * 102)
    print('Concatenación con el dataframe original') 
    data1 = extend_data( data_dic1 ) 
    data2 = extend_data( data_dic2 ) 

    data_db = pd.concat( [ data_no_grupo[['CEDULA_COD', 'SALARIO', 'ATI_DB', 'INDICE']],
                                   data1[['CEDULA_COD', 'SALARIO', 'ATI_DB', 'INDICE']],
                                   data2[['CEDULA_COD', 'SALARIO', 'ATI_DB', 'INDICE']]], axis=0)

    data_db = data_db.sort_values( by = ["INDICE"], ascending = [ True ] )
    data_db.reset_index( inplace = True )
    data_db.rename( columns = {'index': 'nuevo_indice'}, inplace = True )
    data_db.drop( columns = ['nuevo_indice'], inplace=True )

    col = ['ATI_DB']
    data[ col ] = np.nan

    for nom_col in col:
        aux = None
        aux = data_db[ nom_col ].to_numpy()
        data.iloc[:, data.columns.get_loc( nom_col )] = aux
    
    del data1, data2, data_db
    
    #return(data_db)
       
    fin = time.time()  
    tm = (fin-inicio)
    print('\tTiempo de ejecución es: ', tm//3600, ' horas con ' , tm%3600//60 , ' minutos y', tm%60, ' segundos' )

In [39]:
union_dic( data_l, data_no_grupo, ul_dic, ml_dic)

******************************************************************************************************
Concatenación con el dataframe original
Extensión a dataframe de los diccionarios
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 18.941934823989868  segundos
Extensión a dataframe de los diccionarios
	Tiempo de ejecución es:  0.0  horas con  0.0  minutos y 3.0054683685302734  segundos

In [41]:
filtered_data = data_l[data_l['SALARIO'] != a['SALARIO']]

# Mostrar las filas donde 'SALARIO' no coincide
print(filtered_data)

Empty DataFrame
Columns: [CEDULA_COD, ANIO, MES, SALARIO, SALARIO_SECTOR, SECTOR_A, NUM_SEC_MES, %_NUM_SECTOR, GRUPO, SAL_PROM_GRUPO, GRUPO_SEL, INI_CAL, FIN_CAL, BASE_CAL, SBU, ID_SBU, INDICE, LS1, SAL_PROM1, LS2, SAL_PROM2, ATI_DB]
Index: []

[0 rows x 22 columns]

In [31]:
nombre_archivo = 'viu_db_ul_ati.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto1 = ul_dic

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto1, archivo) 
    
nombre_archivo = 'viu_db_ml_ati.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto2 = ml_dic

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto2, archivo) 
    
nombre_archivo = 'viu_db_data_l_ati.pkl'
# Ruta completa del archivo
ruta_archivo = os.path.join(directorio, nombre_archivo)
# Objetos a guardar
objeto3 = data_l

# Guardar los objetos en el archivo
with open(ruta_archivo, 'wb') as archivo:
    pickle.dump(objeto3, archivo) 
    
del objeto1, objeto2, objeto3